.button-panel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 8px;
}

.button-panel-alone {
  display: grid;
  grid-template-columns: 224px auto;
  grid-gap: 8px;
}

@media only screen and (min-width: 992px) {
  .button-panel-alone {
    grid-template-columns: auto 305px;
  }
}
