.button-panel {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 8px;
}

/* Top buttons */
.button-panel-top {
  display: flex;
}

.button-panel-top button:first-of-type {
  flex: 1 0 auto;
}

.button-panel-top button:last-of-type {
  width: 90px;
  margin-left: 8px;
}

/* Bottom buttons */
.button-panel-bottom {
  display: flex;
}

.button-panel-bottom button:nth-of-type(1) {
  flex: 1 0 auto;
  margin-right: 8px;
}

.button-panel-bottom button:nth-of-type(2) {
  margin-right: 8px;
}

.button-panel-bottom button:nth-of-type(2),
.button-panel-bottom button:nth-of-type(3) {
  width: 90px;
}
